@charset "UTF-8";

@import url(./font-awesome.min.css);
@import url("http://fonts.googleapis.com/css?family=Source+Sans+Pro:200");

#header {
    font-size: 100%;

    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#header .avatar {
    font-size: 100%;

    border-radius: 100%;
    display: inline-block;
    margin: 0 0 2em 0;
    padding: 0.5em;
    border: solid 1px rgba(255, 255, 255, 0.25);
    background-color: rgba(255, 255, 255, 0.075);
}

strong {
    color: rgba(255, 255, 255, 0.65);
}

h1, h2, h3, h4, h5, h6 {
    text-decoration: none;

    color: rgba(255, 255, 255, 0.65);
    font-family: "Source Sans Pro", Helvetica, sans-serif;
    font-weight: 200;
    line-height: 1.65;
    color: #ffffff;
    font-weight: 200;
    line-height: 1.5;
    margin: 0 0 1em 0;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    color: inherit;
    text-decoration: none;
}

h1 {
    font-size: 1.75em;
}

#header h1 {
    color: rgba(255, 255, 255, 0.65);
}

#header .avatar img {
    border-radius: 100%;
    display: block;
    width: 10em;
}